<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog::Register </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   
  </head>
  <body>
    
    <div class="container">
      <h1 class="display-6 text-success p-2">Register Page</h1>
      </hr>
  
      <form action="#" 
            th:action="@{/register}" 
            th:object="${account}" 
            method="POST">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" class="form-control" th:field="*{firstName}" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" class="form-control" th:field="*{lastName}" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="form-control" th:field="*{email}" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" th:field="*{password}" placeholder="Password">
        </div>
        <button type="submit">Login</button>
      </form>

    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
